
<div class="demo-card-square juan mdl-card mdl-shadow--2dp">
  <div class="mdl-card__title mdl-card--expand">
    <h2 class="mdl-card__title-text">Juan</h2>
  </div>
  <div class="mdl-card__supporting-text">
    Demo de las novedades recien anunciadas
  </div>
  <div class="mdl-card__actions mdl-card--border">
    <a target="_blank" href="https://twitter.com/jirungaray" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
      Twitter
    </a>
    <a target="_blank" href="https://www.linkedin.com/in/juanirungaray?authType=NAME_SEARCH&authToken=2jsz&locale=es_ES&srchid=517778681463498468664&srchindex=1&srchtotal=8&trk=vsrp_people_res_name&trkInfo=VSRPsearchId%3A517778681463498468664%2CVSRPtargetId%3A11634211%2CVSRPcmpt%3Aprimary%2CVSRPnm%3Atrue%2CauthType%3ANAME_SEARCH" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
      LinkedIn
    </a>
  </div>
</div>
<br><br>
<div class="demo-card-square jorge mdl-card mdl-shadow--2dp">
  <div class="mdl-card__title mdl-card--expand">
    <h2 class="mdl-card__title-text">Jorge</h2>
  </div>
  <div class="mdl-card__supporting-text">
    Angular 2 + Firebase (DDBB, API REST, HOST, Auth)
  </div>
  <div class="mdl-card__actions mdl-card--border">
    <a href="https://twitter.com/jorgeucano" target="_blank" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
      Twitter
    </a>
    <a target="_blank" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="https://ar.linkedin.com/in/jorge-cano-06441015">
      LinkedIn
    </a>
  </div>
</div>
<br><br>
<div class="demo-card-square yury mdl-card mdl-shadow--2dp">
  <div class="mdl-card__title mdl-card--expand">
    <h2 class="mdl-card__title-text">Yury</h2>
  </div>
  <div class="mdl-card__supporting-text">
    Cloud Vision API
  </div>
  <div class="mdl-card__actions mdl-card--border">
    <a href="https://twitter.com/camachoyury" target="_blank" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
      Twitter
    </a>
    <a target="_blank" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="https://www.linkedin.com/in/camachoyury?authType=NAME_SEARCH&authToken=4cen&locale=es_ES&trk=tyah&trkInfo=clickedVertical%3Amynetwork%2CclickedEntityId%3A161425357%2CauthType%3ANAME_SEARCH%2Cidx%3A1-1-1%2CtarId%3A1463498085739%2Ctas%3Ayury%20camacho">
      LinkedIn
    </a>
  </div>
